// Custom.scss

@import "bootstrap-5.3.8/scss/functions";

$primary: #a0a;
$danger: #ff4136;

$theme-colors: (
    "primary": $primary,
    "danger": $danger
);

$primary-text-emphasis: tint-color($primary, 60%) !default;

@import "bootstrap-5.3.8/scss/bootstrap";

// Then add additional custom code here
