// Custom.scss

@import "bootstrap-5.3.8/scss/functions";

$primary: #a0a;
// $primary-text-emphasis: tint-color($primary, 60%) !default;

@import "bootstrap-5.3.8/scss/bootstrap";

// Then add additional custom code here

// don't display the default floating cookie icon
#silktide-cookie-icon {
    display: none !important;
}
