// Custom.scss



:root, [data-bs-theme=light] {
  --bs-primary: #a0a;       
  --bs-primary-rgb: 170, 0, 170; 

  --bs-primary-darker: #808;       
  --bs-primary-darker-rgb: 136, 0, 136; 

  --bs-primary-lighter: #b0b;       
  --bs-primary-lighter-rgb: 187, 0, 187; 
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-darker); /* Slightly darker shade */
  --bs-btn-hover-border-color: var(--bs-primary-darker);
  --bs-btn-active-bg: var(--bs-primary-lighter);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
}
