// Custom.scss



:root, [data-bs-theme=light] {
  --bs-primary: #a0a;       
  --bs-primary-rgb: 170, 0, 170; 

  --bs-primary-darker: #808;       
  --bs-primary-darker-rgb: 136, 0, 136; 

  --bs-primary-lighter: #b0b;       
  --bs-primary-lighter-rgb: 187, 0, 187; 

  --bs-primary-text-emphasis: #303;
  --bs-primary-bg-subtle: #fbf;
  --bs-primary-border-subtle: #d9d;
  --bs-border-subtle: #d9d;

  --bs-font-sans-serif: "Google Sans Flex", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-body-font-family: var(--bs-font-sans-serif);
}


hr {
  color: var(--bs-primary-darker);
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary-darker); /* Slightly darker shade */
  --bs-btn-hover-border-color: var(--bs-primary-darker);
  --bs-btn-active-bg: var(--bs-primary-lighter);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
}

