---
layout: default
---


<div class="row justify-content-center p-4 m-4">

  {% assign hero = page.images | first %}

  <div class="col-3">
    <img src="{{ hero.src }}" class="d-block float-end img-fluid  rounded-4 border shadow" alt="{{ hero.alt | escape }}"
      loading="lazy">
  </div>

  <div class="col-5">
    <h1 class="text-body-emphasis lh-1 mb-3">{{ page.title | escape }}</h1>


    {{ page.summary | markdownify }}


    {% if page.status == "idea" %}
      <button type="button" class="btn btn-info bi-lightbulb">&nbsp;Just an idea...</button>
    {% elsif page.status == "active" %}
      <button type="button" class="btn btn-warning bi-rocket-takeoff-fill">&nbsp;Working on it now!</button>
    {% elsif page.status == "stalled" %}
      <button type="button" class="btn btn-secondary bi-hourglass-split">&nbsp;Stalled</button>
    {% elsif page.status == "completed" %}
      <button type="button" class="btn btn-success bi-hand-thumbs-up-fill">&nbsp;Completed!</button>
    {% else %}
      <button type="button" class="btn btn-danger bi-bug-fill">&nbsp;BAD STATUS</button>
    {% endif %}
    <br/>


    {% for link in page.links %}
      <a class="bi bi-link-45deg" href="{{ link.url | escape  }}">{{ link.txt }}</a><br />
    {% endfor %}

  </div>

</div>

<hr />

{% if page.images.size > 1 %}
<div class="container my-4 text-center">
  {% for image in page.images %}

    <a href="{{ image.src }}">
      <img src="{{ image.src }}" class="rounded-3 m-2 border shadow" alt="{{ image.alt | escape }}" width="auto" height="100"
        loading="lazy">
    </a>
  {% endfor %}
</div>

<hr />
{% endif %}

<div class="row mt-4">
  {{ content }}
</div>